
form{
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 1.5rem 0;
}
table{
    border: 1px solid #000;
    font-size: 1.5rem;
}
tr th{
    background-color: rgb(154, 149, 149);
    justify-content: center;
}
tr th, tr td{
    padding: 0.5rem 0.5rem;
    border-radius: 0.15rem;
    border: 1px solid #000000;
    width: 2.5rem;
}
