/* Menu */
nav{
    height: 4rem;
    border-bottom: 2px solid rgb(197, 197, 197);
}
nav .menu{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.name_id_web{
    color:#fd0000;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
}
li{
    margin: 0.75rem 0;
}

li a, ul li{
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5rem 0.5rem;
    font-family: sans-serif;
    color: #000;
    transition: color 0.3s;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

li a:hover {
    color: #2d0ff3;
    background-color: #f1f5f9;
    border-radius: 2rem;
}
/* Đăng kí */
.main{
	display:flex;
	justify-content:center;
	align-items: center;
	max-width:100%;
	min-height:100vh;
	width:100%;
	padding: 0 2rem;
	margin: 0 auto;
	background-color:v#f1f5f9;
}
.wapper{
	max-width:28rem;
	width:100%;
	margin: 1rem auto;
	padding: 2rem 2.5rem;
	border-radius:0.25rem;
	color:#000;
	background:#fff;
	box-shadow: 0 10px 15px -3px #0000001a,
                0 4px 6px -2px #0000000d;;
}
div h1{
    font-family: sans-serif;
    color: blue;
}
.main{
	font-family: Arial;
	font-size:1rem;
	font-weight:normal;
	line-height: 1.5;
	color: #000;
	background:#fff;
    background-color: #f1f5f9;
}
form{
	width:100%;
	height:auto;
	margin-top:2rem;
}
.main, div h1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.input_control {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 1.25rem;
    font-family: inherit;
    padding: 1rem;
    margin-right: 0.5rem;
    line-height: 1rem;
}
.input_control label{
    margin-right: 1rem;
}
.input-infor {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 90%;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 20%;
    color: #000;
    background: #dadce0;
    text-transform: unset;
    text-rendering: optimizeLegibility;
    margin-left: 1rem;
    height: 2rem;
    width: 5rem;
}

.btn1, .btn2{
	font-family:sans-serif;
	font-size:1rem;
	font-weight:500;
	line-height:inherit;
	cursor:pointer;
	min-width:40%;
	height:auto;
	padding: 0.65rem 1.25rem;
	border-radius: 2rem;
	color:#fff;
	box-shadow:	0 4px 6px -1px #0000001a,
                0 2px 4px -1px #0000000f;;
	text-transform:capitalize;
	background:#1a73e8;
	text-rendering:optimizeLegibility;
    border:2px solid #1a73e8;
    font-weight: bold;
}
.btn1:hover, .btn2:hover{
    background-color: #fff;
    border: 2px solid #1a73e8;
    color:#1a73e8;
    font-weight: bold;
}
#btn{
    justify-content: space-around;
}
.noti{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
